name: Metrics
on:
  schedule: [{ cron: "0 6 * * *" }]
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: radkinz
          template: classic
          base: header, activity, repositories
          filename: github-metrics.svg

          # Language metrics (ALL public repos)
          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 8
